nav {
  background-color: #f5f5f5;
  border: 0px;
  color: #e0e006!important;
}

#navbar li a {
  color: #e0e006!important;
}

#navbar li a:hover {
  color: #e0e006!important;
}

.navbar-brand {
  color: #e0e006!important;
}

.icon-bar {
  background-color: #e0e006!important;
}

input::placeholder {
  color: #808080;
}
