<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-music yellow"></span> CDb</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li class="active">
          <a routerLink="/home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
        </li>
      </ul>

      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/concert" class="AddConcert">Add a concert</a>
        </li>
      </ul>

      <form class="navbar-form navbar-left" (ngSubmit)="getSearch(searchArtist.value);searchArtist.value = null" #searchForm="ngForm">
        <div class="form-group">
          <input #searchArtist type="text" placeholder="Search an artist or band">
        </div>
        <input type="submit"  class="btn btn-default" value="Search for an artist" />
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!(user | async)">
          <a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
        </li>

        <li *ngIf="(user | async)">
          <a href="#"><span class="glyphicon glyphicon-user"></span> {{displayName}}</a>
        </li>

        <li *ngIf="(user | async)">
          <a href="#" (click)="logout()">logout</a>
        </li>

        <li class="dropdown" *ngIf="!(user | async)">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a>
          <div class="dropdown-menu" style="padding:10px;" ng-controller="loginController">
            <div>
              <button (click)="loginGoogle()">Google</button>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>
