<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-3 col-lg-3">
      <a href="#" class="thumbnail"><img src="{{ (item | async)?.img }}"></a>
    </div>
    <div class="col-xs-6 col-md-6 col-lg-6">
      <h1>{{ (item | async)?.name }}</h1>
      <p>{{ (item | async)?.genre }}</p>

      <hr>
      <p>At vel graeci aliquam, pro gubergren incorrupte id, has et nihil ridens torquatos.
        Ut quo utamur scripta, vitae alterum accumsan his id, ex case virtute duo.
        Et nec omnesque principes. Vim labores invidunt te. Sed ea atqui eligendi, evertitur sadipscing
        comprehensam ut pri, has in prima aliquip.</p>
      <hr>
    </div>
  </div>

  <div class="row" style="padding-bottom: 10px;">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <button type="button" class="btn btn-info" routerLink="/concert">Add a concert</button>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" style="color: #566573;"><b>Concerts</b></h3>
    </div>

    <!-- concerts list -->
    <div class="panel-body">

      <div class="row" *ngFor="let item of items | async">
        <div class="col-xs-8 col-md-8 col-lg-8">
          <h4>{{item.name}} at {{item.place}} <span class="glyphicon glyphicon-star yellow"></span> {{item.ratingAvg}}</h4>
          <p>{{item.date | date: 'dd MMM yyyy'}}, {{item.city}}, {{item.country}}</p>

          <!-- <div class="row" *ngFor="let concert of item.comments  | async">
            orderBy:'-date'
            <ul>
              <li>{{concert.comment}}, rating: <span class="glyphicon glyphicon-star yellow"></span> {{concert.rating}}<br>
                <i>{{concert.author}}, {{concert.date}}</i>
              </li>
            </ul>
          </div> -->

        </div>
      </div>

    </div>
  </div>

</div>
